<h3>ADD A DOCTOR</h3>

<form class="addDoctor" action="/doctors_home" method="post">
  <input type="text" name="add_doctor">
  <input type="text" name="add_specialty">
  <button type="submit" name="add">ADD!</button>
</form>
